.timer {
    justify-self: center;
    align-self: center;
    position: absolute;
}

.on {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity:1;
    }   
    100% {
        opacity:0;
    }
} 