.header {
    display: flex;
    align-items: center;   
    flex-direction: column;
}
.upper {
    display:flex;
}
.lower {
    display:flex;
    justify-content: center;    
}
.timer {
    display: flex;
    justify-content: center;
    position:relative;
}

/* 720 */
.circle path {
    position: absolute;
    justify-self: center;
    align-self: center;
stroke-dasharray: 720; 
stroke-dashoffset: var(--x);  
}