.header {
    display: flex;
    align-items: center;   
    flex-direction: column;
}
.upper {
    display:flex;
}
.lower {
    display:flex;
    justify-content: center;    
}
.timer {
    display: flex;
    justify-content: center;
}